//! GENERAL COLORING
$primaryColor:          #141414;
$primaryInverse:        white;
$primaryHoverColor:     #008de4;
$primaryHoverInverse:   rgb(0, 0, 0);

$secondaryColor:        #222831;
$secondaryInverse:      $primaryColor;

$tertiaryColor:         #303841;
$tertiaryInverse:       #ffffff;

$quarteryColor:         #ff0000; 
$quarteryInverse:       #ffffff;

$bgColor:               #eeeeee;

$pageTitleColor:        $secondaryColor;
$pageSloganColor:       $secondaryColor;

//! for root layout
// HEADER
$headerTitleFontSize:   2.2rem;
$headerSloganFontSize:  1.4rem;

// NAVBAR
$navbarFontSize:        1.4rem;
$navbarHeight:          2rem;
$navbarPadding:         25px;
$navbarFontWeight:      550;

//! home page
// GENERAL PANEL STYLING AND SIZING
$h2size:                2.2rem;
$h3size:                1.4rem;
$panelTitlePadding:     20px;

// FIRST PANEL

// SECOND PANEL

// THIRD PANEL


$test1: rgba(0, 255, 0, 0.08);
$test2: rgba(255, 0, 0, 0.08);

// ! ROOT LAYOUT
// Header and navbar width
$headerWidth:               60%;

// ! Home 
// general
$plateTitleContentDiff:     10px; // space between title and content div
$plateTitleHeight:          20px;

// main plate

$mainPlateImageUrl:         '../images/home/main_panel_mom.png';


// secondary panel
$secondPlateUrl1:           '../images/home/second_panel/1.png';
$secondPlateUrl2:           '../images/home/second_panel/2.png';
$secondPlateUrl3:           '../images/home/second_panel/3.png';

$secondPanelTitleTextColor: white;
$secondPanelTitleBgColor:   rgba(0,0,0,1);

$secondPanelDescTextColor: white;
$secondPanelDescBgColor:   rgba(0,0,0,0.5);

// tertiary panel



$thirdPlateUrl1:            '../images/home/third_panel/1.jpg';
$thirdPlateUrl2:            '../images/home/third_panel/2.jpg';
$thirdPlateUrl3:            '../images/home/third_panel/3.jpg';
$thirdPlateUrl4:            '../images/home/third_panel/4.jpg';