@import '__variables';

@keyframes changeBg{
    0% {
        background:                 rgba(white, 0.8);
    }
    50% {
        background:                 rgba(white, 0.4);
    }
    100% {
        background:                 rgba(white, 0.8);
    }
}


.main-plate, .second-plate, .third-plate {
    h2 {
        font-size: $h2size;
    }

    h3 {
        font-size: $h3size;
    }
}

.main-plate {
    display:                    flex;
    flex-direction:             row;
    width:                      $headerWidth;
    aspect-ratio:               2/1;
    margin:                     5% auto;
    outline:                    1px solid black;
    background-color:           rgba(0,0,0, 0.1);

    .item {
        flex:                   1;
        display:                flex;
        justify-content:        center;
        align-items:            center;

        h2 {
            text-align:         center;
            padding:            30px;
        }
    }

    .item.a {
        background-color:       $primaryColor;
        color:                  $primaryInverse;
    }

    .item.b {
        background-image:       url($mainPlateImageUrl);
        background-position:    center;
        background-size:        cover;

        button {
            animation:                  changeBg 2s infinite linear;
            transition-duration:        1s;
            color:                      black;
            box-shadow:                 0 8px 32px 0 rgba( 0, 0, 0, 0.6 );
            backdrop-filter:            blur( 2.5px );
            -webkit-backdrop-filter:    blur( 2.5px );
            font-size:                  28px;
            padding:                    10px 20px;
            font-weight:                600;
            border:                     2px solid black;


            cursor: pointer;


        }

        button:hover {
            transition-duration:        1s;
            box-shadow:                 0 8px 40px 0 rgba( 0, 0, 0, 0.9 );
            background-color:           rgba(black, 0.8) !important;
            color:                      white !important;

        }
    }


}


//! SECOND PLATE
.second-plate {

    width:      $headerWidth;
    margin:     auto;

    > h2 {
        background-color:       $primaryColor;
        color:                  $primaryInverse;
        padding:                $panelTitlePadding;
        margin:                 0;
        text-align:             center;
        margin-bottom:          3%;
    }

    .second-plate-panel {
        display:                flex;
        justify-content:        space-between;

        .panel-item{
            width:              calc($headerWidth*0.5);
            aspect-ratio:       1/1;
            

            display:            flex;
            flex-direction:     column;
            gap:                25%;

            h3 {
                background:                 rgba($primaryColor, 0.8);
                color:                      $primaryInverse;
                box-shadow:                 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
                backdrop-filter:            blur( 2.5px );
                -webkit-backdrop-filter:    blur( 2.5px );
                padding:                    18px 0;
                margin:                     auto 0;
                display:                    flex;
                justify-content:            center;
                align-items:                center;
            }
        }

        .panel-item.a {
            background-image:           url($secondPlateUrl1);
            background-position:        center;
            background-size:            cover;
        }
        .panel-item.b {
            background-image:           url($secondPlateUrl2);
            background-position:        center;
            background-size:            cover;
        }
        .panel-item.c {
            background-image:           url($secondPlateUrl3);
            background-position:        center;
            background-size:            cover;
        }
    }
}

// !THIRD PLATE

.third-plate {
    width:      $headerWidth;
    margin:     auto;

    > h2 {
        background-color:   $primaryColor;
        color:              $primaryInverse;
        padding:            $panelTitlePadding;
        text-align:         center;
        margin:             0;
        margin-top:         5%;
        margin-bottom:      3%;

    }

    .third-plate-panel {
        width:              100%;
        aspect-ratio:       1/1;
        display:            flex;
        flex-direction:     row;
        flex-wrap:          wrap;
        justify-content:    space-between;
        align-content:      space-between;


        .panel-item {

            width:              48%;
            height:             48%;
            display:            flex;
            justify-content:    center;
            align-items:        center;
            
        }

        h3 {
            margin:                     0;
            padding:                    0;
            background:                 rgba($primaryColor, 0.7);
            color:                      $primaryInverse;
            box-shadow:                 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter:            blur( 2.5px );
            -webkit-backdrop-filter:    blur( 2.5px );
            padding:                    30px;
            border:                     4px solid $primaryColor;
        }

        .panel-item.a {
            background-image:       url($thirdPlateUrl1);
            background-position:    center;
            background-size:        cover;
        }
        .panel-item.b {
            background-image:       url($thirdPlateUrl2);
            background-position:    center;
            background-size:        cover;
        }
        .panel-item.c {
            background-image:       url($thirdPlateUrl3);
            background-position:    center;
            background-size:        cover;
        }
        .panel-item.d {
            background-image:       url($thirdPlateUrl4);
            background-position:    center;
            background-size:        cover;
        }
    }
    
}