@keyframes changeBg {
  0% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 0.2);
  }
  100% {
    background: rgba(255, 255, 255, 0.8);
  }
}
.main-plate h2, .second-plate h2, .third-plate h2 {
  font-size: 2.2rem;
}
.main-plate h3, .second-plate h3, .third-plate h3 {
  font-size: 1.4rem;
}

.main-plate {
  display: flex;
  flex-direction: row;
  width: 60%;
  aspect-ratio: 2/1;
  margin: 5% auto;
  outline: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
}
.main-plate .item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-plate .item h2 {
  text-align: center;
  padding: 30px;
}
.main-plate .item.a {
  background-color: #141414;
  color: white;
}
.main-plate .item.b {
  background-image: url("../images/home/main_panel_mom.png");
  background-position: center;
  background-size: cover;
}
.main-plate .item.b button {
  animation: changeBg 2s infinite linear;
  transition-duration: 1s;
  color: black;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  font-size: 28px;
  padding: 10px 20px;
  font-weight: 600;
  border: 2px solid black;
  cursor: pointer;
}
.main-plate .item.b button:hover {
  transition-duration: 1s;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}

.second-plate {
  width: 60%;
  margin: auto;
}
.second-plate > h2 {
  background-color: #141414;
  color: white;
  padding: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 3%;
}
.second-plate .second-plate-panel {
  display: flex;
  justify-content: space-between;
}
.second-plate .second-plate-panel .panel-item {
  width: 30%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 25%;
}
.second-plate .second-plate-panel .panel-item h3 {
  background: rgba(20, 20, 20, 0.8);
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  padding: 18px 0;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-plate .second-plate-panel .panel-item.a {
  background-image: url("../images/home/second_panel/1.png");
  background-position: center;
  background-size: cover;
}
.second-plate .second-plate-panel .panel-item.b {
  background-image: url("../images/home/second_panel/2.png");
  background-position: center;
  background-size: cover;
}
.second-plate .second-plate-panel .panel-item.c {
  background-image: url("../images/home/second_panel/3.png");
  background-position: center;
  background-size: cover;
}

.third-plate {
  width: 60%;
  margin: auto;
}
.third-plate > h2 {
  background-color: #141414;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 3%;
}
.third-plate .third-plate-panel {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.third-plate .third-plate-panel .panel-item {
  width: 48%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-plate .third-plate-panel h3 {
  margin: 0;
  padding: 0;
  background: rgba(20, 20, 20, 0.7);
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  padding: 30px;
  border: 4px solid #141414;
}
.third-plate .third-plate-panel .panel-item.a {
  background-image: url("../images/home/third_panel/1.jpg");
  background-position: center;
  background-size: cover;
}
.third-plate .third-plate-panel .panel-item.b {
  background-image: url("../images/home/third_panel/2.jpg");
  background-position: center;
  background-size: cover;
}
.third-plate .third-plate-panel .panel-item.c {
  background-image: url("../images/home/third_panel/3.jpg");
  background-position: center;
  background-size: cover;
}
.third-plate .third-plate-panel .panel-item.d {
  background-image: url("../images/home/third_panel/4.jpg");
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=home.css.map */
